<section id="content">
	<section id="new_task">
		<%= render 'tasks/form'%>
	</section>
	<section id="task list">
		<%= render @tasks %>
	</section>
</section>

<section hidden="true">
	Requirements:
	Be able to specify an order of the todo items
	Be able to specify a due date
	Ease of entry to add new todo items
	Ability to mark todos as completed
	Ability to view current open todos
	Ability to go back and see history
</section>
