<section id="content">
	<ul>
		<li>Go to the office.</li>
		<li>Pick up kid from school.</li>
	</ul>
</section>

<section hidden="true">
	Requirements:
	Be able to specify an order of the todo items
	Be able to specify a due date
	Ease of entry to add new todo items
	Ability to mark todos as completed
	Ability to view current open todos
	Ability to go back and see history
</section>
