<header id="banner">
	<h1>Manage your todos</h1>
</header>

<section id="content">
	<ul>
		<li>Go to the office.</li>
		<li>Pick up kid from school.</li>
	</ul>
</section>

<footer>
	Brought to you by Sudhir Rao
</footer>
