<section id="task_list">
  <table>
	<th></th>
	<th>Title</th>
	<th>Due Date</th>
	<th>Action</th>
  <% unless completed %>
	<%= render 'tasks/form'%>
    <% tasks = @pending_tasks %>
  <% else %>
    <% tasks = @completed_tasks %>
  <% end %>
	<% prev = nil %>
	<% tasks.length.times do |i| %>
		<%= render partial: 'task', locals: {task: tasks[i], completed: completed, prev: prev, after: tasks[i+1] } %>
		<% prev = tasks[i] %>
	<% end %>
  </table>
</section>
