<span style="display:none" id="initial-tab-select"><%= @initial_tab %></span>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Pending Todos</a></li>
		<li><a href="#tabs-2">Complete Todos</a></li>
	</ul>
	<div id="tabs-1">
		<%= render partial: "list", locals: { completed: false } %>
	</div>
	<div id="tabs-2">
		<%= render partial: "list", locals: { completed: true } %>
	</div>
</div>

<section hidden="true">
	Requirements:
	Be able to specify an order of the todo items
	Be able to specify a due date
	Ease of entry to add new todo items
	Ability to mark todos as completed
	Ability to view current open todos
	Ability to go back and see history
</section>
