<section id="content">
	<% unless @completed %>
	<section id="new_task">
		<header>
			<h3>Add a new todo</h3>
		</header>
		<%= render 'tasks/form'%>
	</section>
	<% end %>
	<section id="task_list">
		<header>
			<h3><%= @completed ? 'Completed todos' : 'Pending todos' %></h3>
		</header>
		<table>
			<th>Title</th>
			<th>Due Date</th>
			<th>Action</th>
			<%= render partial: 'task', collection: @tasks %>
		</table>
	</section>
</section>

<section hidden="true">
	Requirements:
	Be able to specify an order of the todo items
	Be able to specify a due date
	Ease of entry to add new todo items
	Ability to mark todos as completed
	Ability to view current open todos
	Ability to go back and see history
</section>
