// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  font-size: 85%;
  color: #222; 
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
  height: 100em;
}
	
	
h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }
	
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }
	
#banner {
  height: 8em;
  background: #444;
  width: 100%;
  padding-top: 1em;
  text-align: center;
}

#content {
  margin-left: 10em;
}

footer {
  font-size: 50%;
  top: 5em;
  width: 100%;
  text-align: center;
}