// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 99%;
}

$body_color: #222;
$overdue_color: red;

body { 
  font-size: 85%;
  color: $body_color;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
}
	
	
h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }
	
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }
	
#banner {
  height: 8em;
  background: #444;
  width: 100%;
  padding-top: 1em;
  text-align: center;
}

#content {
  margin-left: 10em;
}

footer {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
  color: change-color($body_color, $lightness: 40%);
}

.overdue {
	color: $overdue_color;
}

/* Jquery buttons */

.fg-button { 
   outline: 0; 
   margin:0 4px 0 0; 
   padding: 1em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
   .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
   .fg-buttonset-single, 
   .fg-buttonset-multi { margin-right: -1px;}
   .fg-buttonset { float: left; }
   .fg-toolbar { font-size: 1em;  }
   }

a.fg-button { float:left; }

.fg-button-icon-left { padding-left: 2.1em; .ui-icon { right: auto; left: .2em; margin-left: 0; } }
.fg-button-icon-right { padding-right: 2.1em; .ui-icon { left: auto; right: .2em; margin-left: 0; } }
	
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
	
.fg-buttonset { float:left; }
	
.fg-toolbar { padding: .5em; margin: 0; .fg-buttonset { margin-right:1.5em; padding-left: 1px; } }
